//removed @media (min-width: $min-width) {

//removed .container { max-width: 1400px; @include margins; }

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//removed .row { flex-direction: row; }

[class^=col] {
  display: flex;
  justify-content: center;
  margin-top: 0;
  align-items: center;
}

//removed [class^=col] + [class^=col] {margin-left: $px10;}

//colums @for $i from 1 through 12 {.col-#{$i} {flex-basis: ($i * 8.33%);}}

//nav
.nav {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  flex-basis: 100px;
}

//buttons
.btn {
  padding: $px10 30px;
}

.btn + .btn {
  margin-left: $px10;
}

//logo
.logo {
  margin-left: initial;
  margin-right: initial;
}

//removed }