//colors
$color1:#777;
$color2:#58e1c1;
$color3:#51ddfc;
$color4:#fff;
$color5:#927bc1;

//media query breakpoint
$min-width: 768px;

//font  
$font-stack-primary: 'Lato', sans-serif;
$fw300: 300;

//key
$au: auto;
$no: none;
$hide: hidden;

//pixels
$px1: 1px;
$px10: 10px;