//grid
.container {
    padding: 0 $px10;
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em $px10;
    @media (min-width: $min-width) {
      flex-direction: row;
    }
  }
  
  [class^=col] {
    margin-top: $px10;
    flex-basis: 100%;
    min-height: 25px;
    padding: $px10;
    border-radius: 5px;
  }

//colums
@for $i from 1 through 12 {
    .theme.col-#{$i} {
        background-color: adjust-hue($color5, $i * 75);
        flex-basis: ($i * 8.33%);
    }
}

//flex
.card {
    flex-basis: 100%;
  }

//changes
@media (min-width: $min-width) {
[class^=col] + [class^=col] {
  margin-left: $px10;
}
}